.about {
  position: relative;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    margin: 0 auto;
  }
}

.about__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 33px;
  }
}

.about__wrapper {
  margin-top: 70px;

  &::before {
    background-image: url("../../img/grey_zigzag.svg");
    height: 6px;
    background-size: auto 6px;
    background-position: center;
    background-repeat: repeat-x;
    content: "";
    position: absolute;
    top: -5%;
    bottom: 0;
    left: 0;
    right: 0;
    color: #f1f1f1;

    @media (min-width: $tablet-width) {
      height: 17px;
      background-size: auto 17px;
      position: absolute;
      top: -13%;
    }

    @media (min-width: $desktop-width) {
      height: 23px;
      background-size: auto 23px;
      top: -15%;
      left: 49px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 121px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
    margin-top: 160px;
  }
}
