.about {
  width: 333px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.about__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about_wrapper {
  margin-top: 70px;

  &::before {
    background-image: url(../../img/grey_zigzag.svg);
    width: 320px;
    height: 6px;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: -5%;
    left: 0;
    color: #F1F1F1;
  }

  @media (min-width: $tablet-width) {
    margin-top: 121px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
    margin-top: 160px;
  }
}

