.button {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  border: 2px solid #444444;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
  display: block;
}

.button--offer {
  text-align: center;
  padding: 16px 86px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding: 16px 98px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 93px;
  }
}

.button--order {
  text-align: center;
  padding: 16px 0;

  @media (min-width: $tablet-width) {
    padding: 16px 26px;
    display: inline-block;
    position: absolute;
    top: 76px;
    right: 49px;
    width: 176px;
  }

  @media (min-width: $desktop-width) {
    right: -1px;
  }
}

.button--contacts {
  text-align: center;
  padding: 16px 0;

  @media (min-width: $tablet-width) {
    padding: 16px 34px;
    display: inline-block;
  }
}

.button--modal-cart {
  display: block;
  margin-top: 30px;
  width: 260px;
  padding: 18px 68px 18px 124px;
  background-color: #63d1bb;
  border: none;
  color: white;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    width: 350px;
  }
}

.button--video-process {
  text-align: center;
  padding: 18px 11px;
  line-height: 16px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.button--form {
  text-align: center;
  padding: 18px 37px;
  background-color: white;
  width: 260px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 16px;
    padding: 18px 32px;
    width: 234px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
    margin-left: 175px;
  }
}
