.button {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  border: 2px solid #444444;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
  display: block;
}

.button--offer {
  text-align: center;
  padding: 16px 0;
}

.button--order {
  text-align: center;
  padding: 16px 0;
}

.button--contacts {
  text-align: center;
  padding: 16px 0;
}

.button--modal-cart {
  text-align: center;
  padding: 16px 0;
}

.button--video-process {
  text-align: center;
  padding: 16px 0;
  line-height: 16px;
}

.button--form {
  text-align: center;
  padding: 16px 0;
}
