.catalog-title {
  max-width: 1150px;
  margin: 0 auto;
  padding: 48px 30px 74px;
  background: #ececec;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 101px 50px 87px;
  }

  @media (min-width: $desktop-width) {
    padding: 102px 50px 113px;
  }
}

.catalog-title__title {
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding-top: 10%;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
