.made-in {
  display: flex;
  align-items: center;
}

.made-in__title {
  margin-right: 26px;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.made-in__htmlacademy-logo {
  fill: #63d1bb;
}

.made-in__link {
  width: 28px;
  height: 35px;

  &:hover {
    .made-in__htmlacademy-logo {
      fill: #46c1ae;
    }
  }

  &:focus {
    .made-in__htmlacademy-logo {
      opacity: 0.3;
    }
  }
}
