.main-nav {
  display: flex;
  position: relative;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 7;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background: #231F20;
  box-shadow: 0 8px 0 0 #231F20, 0 16px 0 0 #231F20;
}

.main-nav--opened .main-nav__toggle {
  top: 15px;
  right: 0;
  z-index: 5;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }
}

.main-nav__text {
  display: none;
  z-index: 5;

  @media (min-width: $tablet-width) {
    display: block;
    order: 2;
    margin-left: auto;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 107%;
    left: 80%;
  }
}
