.offer-list {
  list-style: none;
  padding: 0;
  margin-top: 31px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.offer-list__item {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 33%;

    &:last-child p {
      padding-bottom: 0;
    }
  }
}
