.priorities-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: min-content;
    width: 79%;
  }
}

.priorities-list__item {
  @media (min-width: $tablet-width) {
    width: 90%;
  }
}

.priorities-list__item-text {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 53px;
  }
}

@media (min-width: $tablet-width) {
  font-size: 20px;
  line-height: 22px;

  .priorities-list li:nth-of-type(1) {
    order: 1;
  }

  .priorities-list li:nth-of-type(2) {
    order: 3;
  }

  .priorities-list li:nth-of-type(3) {
    order: 5;
  }

  .priorities-list li:nth-of-type(4) {
    order: 2;
  }

  .priorities-list li:nth-of-type(5) {
    order: 4;
  }

  .priorities-list li:nth-of-type(6) {
    order: 6;
  }
}
