.priorities-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .priorities-list__item {

    .priorities-list__item--text {
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
    }
  }
}
