.reviews {
  width: 320px;
  color: #444444;
  margin-top: 43px;
  position: relative;

  @media (max-width: $mobile-width-only) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  &::after {
    background-image: url("../../img/grey_zigzag.svg");
    width: 320px;
    height: 6px;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: -6%;
    left: 0;
    color: #f1f1f1;

    @media (min-width: $tablet-width) {
      width: 772px;
      height: 17px;
      background-size: 777px;
      position: absolute;
      top: 91%;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      width: 1050px;
      height: 23px;
      background-size: 1050px;
      top: 90%;
      left: 49px;
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 31px;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
    font-size: 43px;
    line-height: 50px;
    padding-left: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
    font-size: 53px;
    line-height: 57px;
    padding-left: 0;
  }
}

.reviews__list {
  margin-bottom: 32px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
    font-size: 17px;
    padding-left: 52px;
    width: 92%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    width: 87%;
    padding-left: 0;
  }
}

.reviews__wrapper {
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 83px 0 132px;
    background-image: url("../../img/review_background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/review_background@2x.jpg");
      background-size: 350px auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 79px 0 185px 175px;
    background-position-x: 0;
  }
}

.reviews__controls {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 38px;
  border: 1px solid #ececec;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 50px;
    background-color: #ececec;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    column-gap: 37px;
    right: 69px;
    bottom: 179px;
    margin-bottom: 0;
    border: none;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    right: 19px;
    bottom: 233px;
  }
}

.reviews__control {
  position: relative;
  min-width: 130px;
  height: 50px;
  padding: 0;
  border: 0;
  background-color: transparent;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  &--previous {
    background-image: url("../../img/arrow_back.svg");
    background-repeat: no-repeat;
    background-position: 45% 45%;
  }

  &--next {
    background-image: url("../../img/arrow_next.svg");
    background-repeat: no-repeat;
    background-position: 45% 45%;
  }

  @media (min-width: $tablet-width) {
    min-width: 50px;
    height: 26px;
  }
}

.reviews__button {
  padding: 14px 66px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 79px;
    right: 51px;
    padding: 14px 38px;
  }

  @media (min-width: $desktop-width) {
    right: 0;
  }
}

.reviews__order-button-wrapper {
  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}
