.small-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    order: 1;
    font-size: 17px;
    margin-top: -38px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -44px;
    margin-right: 175px;
  }
}
