.social {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
    margin-bottom: 0;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social__item {
  margin-right: 41px;

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  fill: black;
}

.social__link {
  display: block;

  &:hover {
    .social__icon {
      fill: #46C1AE;
    }
  }

  &:focus {
    .social__icon {
      opacity: 0.3;
    }
  }
}
