.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 41px;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 9px;
  }
}

.social-icons__item-link {
  display: block;

  &:hover {
    .social__icon {
      fill: #46c1ae;
    }
  }

  &:focus {
    .social__icon {
      opacity: 0.3;
    }
  }
}
