.user-contacts {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-left: 168px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    width: 80%;
  }
}

.user-contacts__input {
  padding: 12px 0;
  width: 100%;
  min-height: 52px;
  border-width: 0 0 2px;
  border-style: solid;
  border-color: #000000;
  font-size: 17px;
  line-height: 18px;
  outline: 0;
  transition: border-color 0.5s ease-out;

  @media (min-width: $tablet-width) {
    background-color: #f9f9f9;
    font-size: 19px;
    line-height: 18px;

    &::placeholder {
      padding-left: 20px;
      padding-bottom: 5px;
    }
  }
}

.user-contacts__label {
  @media (max-width: $mobile-width-only) {
    display: flex;

    &::after {
      flex: 1;
      content: "";
      z-index: -1;
      height: 1px;
      background-color: #62d1ba;
      margin-left: 21px;
    }
  }
}

.user-contacts__label--phone {
  font-size: 17px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: -29px;

  @media (max-width: $mobile-width-only) {
    position: static;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    left: -168px;
    top: 10px;
  }

  @media (min-width: $desktop-width) {
    left: -118px;
    top: 11px;
  }
}

.user-contacts__label--email {
  font-size: 17px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: -33px;

  @media (max-width: $mobile-width-only) {
    position: static;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    left: -168px;
    top: 7px;
  }

  @media (min-width: $desktop-width) {
    left: -118px;
    top: 11px;
  }
}

.user-contacts__item {
  padding-bottom: 27px;
  position: relative;

  &:last-child {
    padding-bottom: 0;
  }
}

.user-contacts__input:hover,
.user-contacts__input:focus {
  border-color: #62d1ba;
  transition: border-color 0.5s ease;
}

.user-contacts__input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.user-contacts__input:focus::placeholder {
  color: #444444;
  transition: color 0.5s ease;
}

.user-contacts__icon {
  position: absolute;
  opacity: 0.2;
  transition: fill 0.5s ease-out;
}

.user-contacts__icon--phone {
  top: 8%;
  left: 88%;

  @media (min-width: $tablet-width) {
    top: 17%;
    left: 90%;
  }

  @media (min-width: $desktop-width) {
    left: 95.5%;
  }

  @media (max-width: $mobile-width-only) {
    top: 37%;
    left: 88%;
  }
}


.user-contacts__icon--mail {
  top: 72%;
  left: 86%;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    top: 26%;
    left: 90%;
  }

  @media (min-width: $desktop-width) {
    left: 95%;
  }

  @media (max-width: $mobile-width-only) {
    top: 54%;
    left: 87%;
  }
}

.user-contacts__item:hover .user-contacts__icon,
.user-contacts__item:focus .user-contacts__icon {
  fill: #62d1ba;
  opacity: 1;
  transition: fill 0.5s ease;
}

.user-contacts__input:focus {
  border-color: #62d1ba;
  transition: border-color 0.5s ease;
}
